body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

footer.bg-dark.text-white.mt-5 {
    width: 100%;
    margin-top: 0rem !important;
}

.navbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.bg-dark {
    background-color: #0D1117 !important;
}

